{% extends "auctions/layout.html" %}

{% block body %}
    {% if message %}
        {% if update %}
            <div class="alert alert-success" role="alert">
                {{ message }}
            </div>
        {% else %}
            <div class="alert alert-danger" role="alert">
                {{ message }}
            </div>
        {% endif %}
    {% endif %}
    {% if not itemData.active and user == itemData.price.user %}
        <div class="alert alert-success" role="alert">
            Congrats you won the auction!
        </div>
    {% endif %}
    <h2 style="margin-bottom: 13px;">Listing: {{ itemData.title }}</h2>
    {% if user.is_authenticated %}
        {% if isOwner %}
            {% if active %}
                <form style="margin-bottom: 10px;" action="{% url 'closeAuction' id=itemData.id %}" method="post">
                    {% csrf_token %}
                    <button style="border-radius:4px; font-size: 13px; font-weight: bold; color: white; background-color: #838383; border: 1px solid gray;">Close Auction</button>
                </form>
            {% endif %}
        {% endif %}
        {% if is_item_in_watchlist %}
            <form action="{% url 'removeWatchlist' id=itemData.id %}" method="post">
                {% csrf_token %}
                <button style="border-radius:4px; font-size: 13px; font-weight: bold; color: white; background-color: #838383; border: 1px solid gray;">Remove from Watchlist</button>
            </form>
        {% else %}
            <form action="{% url 'addWatchlist' id=itemData.id %}" method="post">
                {% csrf_token %}
                <button style="border-radius:4px; font-size: 13px; font-weight: bold; color: white; background-color: #838383; border: 1px solid gray;">Watchlist</button>
            </form>
        {% endif %}
    {% endif %}
    <br>
    <div id="flexcol" style="display:flex; justify-content:space-evenly; border: 1px solid gray; padding: 10px; border-radius: 5px; width: 80%; min-width: 700px;">
        <div style="border:1px solid gray; margin: 20px; padding: 10px; border-radius: 5px;">
            <img src="{{ itemData.img }}" width="400"/>
        </div>
        <div>
            <br>
            <h4>Price: ${{ itemData.price.bid }}</h4>
            <hr>
            <p style="max-width: 1000px;">{{ itemData.description }}</p>
            <hr>
            {% if user.is_authenticated %}
            <form name="myForm" action="{% url 'addBid' id=itemData.id %}" method="post" onsubmit="return validateForm()" required>
                {% csrf_token %}
                <div class="form-group">
                    <input type="number" min="0" step="0.01" name="bid" placeholder="Add Bid">
                    <br>
                    <input style="margin-top: 15px;" type="submit" value="Place Bid" class="btn btn-primary">
                </div>
            </form>
            <hr>
            {% endif %}
            <ul>
                <li>Listed by: {{ itemData.listing_creator }}</li>
                <li>Category: {{ itemData.category }}</li>
            </ul>
        </div>
    </div>

    <div>
        <h2>Comments</h2>
        {% if comments|length > 0 %}
            <ul style="list-style: none;">
                {% for comment in comments %}
                    <div style="margin-left:-40px; border-radius: 5px; border: 1px solid gray; width: 50%; padding: 5px; margin-top: 10px;">
                        <li>
                            <div style="font-size: 1.1rem; font-weight: bold;">
                                {{ comment.author }}
                            </div>
                            {{ comment.comment_text }}
                        </li>
                    </div>
                {% endfor %}
            </ul>
        {% else %}
            <p style="font-size:1.2rem">No comments yet.</p>
        {% endif%}
        {% if user.is_authenticated %}
        <form action="{% url 'addComment' id=itemData.id %}" method="post">
            {% csrf_token %}
            <textarea name="comment" placeholder="Comment here..." rows="4" style="width: 50%; resize: none;"></textarea>
            <br>
            <input class="btn btn-primary" type="submit" value="Submit">
        </form>
        {% endif %}
    </div>
<script>
    function validateForm() {
        var x = document.forms["myForm"]["bid"].value;
        if (x == "") {
            alert("Bid must be filled in!");
            return false;
        }
    }
</script>
{% endblock %}